* {
    margin: 0;
    padding: 0;
    color: #ffffff;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #3A4975;
    padding: 4em;
    font-size: 16px;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.25em;
    font-weight: 700;
    margin-bottom: 0.5em;
}
figure {
    margin-bottom: 4em;
}
.content {
    max-width: 70%;
}
p {
    font-size: 1.75em;
    line-height: 1.5;
    margin-bottom: 1em;
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 12px;
        padding: 4em 2em;
    }
    .content {
        max-width: 100%;
    }
    figure img {
        max-width: 150px;
        width: 100%;
    }
} 